

.trade-nav {
  background: #E0FFFF;
  padding:20px;
}

.list-title {
  text-align: center;
  font-size: 20px;
}
.header-title{
  border-bottom: 1px solid red;
  margin-bottom: 30px;
}
.tab-list{
  padding: 8px !important;
}
.ing-title{
  float: right !important;
  margin-left: 50px;
  color: orange;
}
.confirm-btn{
  float: right;
  margin: 0 10px;
}
.cancel-btn{
  float: right;
  margin: 0px 20px;
}
.box-cont{
  border: 1px solid red;
  padding: 50px;
}

.graph{
  margin-bottom: 30px;
  font-size: 20px;
}

.cancel-btn{
  margin-bottom: 30px !important;
}